[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
gym = "*"
gym-walk = {path = "/home/pieromack/development/thesis/github_repos/random-walk"}

[requires]
python_version = "3.7"
